/* Cambia el fondo de color de toda la página */
body {
    background-color: #BFBFBA;
    justify-content: center; /* Centrar horizontalmente */
}

/***********************/
/*        BANNER       */
/***********************/

/* Estilos para el banner */
#banner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Divide en tres columnas: 1fr, 2fr, 1fr */
    align-items: center; /* Centra verticalmente los elementos en las filas */
    background-color: #929EAF; /* Color de fondo del banner */
    color: #3765A7; /* Color del texto en el banner */
    text-shadow: 3px 4px 6px #1D4072, 0 0 0 #000, 1px 4px 6px #def;
    padding: 1% 1%; /* Espaciado interior del banner */
    position: relative; /* Posición relativa para alinear el logotipo */
    height: 8vh; /* Altura fija del banner */
    max-width: 100%;
    min-height: 50px;
    border-radius: 20px; /* Agrega esquinas redondeadas al botón */
}
    /* Estilos para el título en el banner */
    #banner h1 {
        grid-column: 2;
        margin: 0; /* Elimina el margen superior del título */
        font-size: 2vw; /* Tamaño de fuente del título */
        position: relative; /* Posición absoluta para centrar verticalmente */
        margin: auto;
    }
    /* Estilos para el logotipo en el banner */
    #banner img {
        grid-column: 1;
        max-width: 20vw; /* Tamaño máximo del logotipo */
        position: absolute; /* Posición absoluta para alinear con la parte superior izquierda */
    }
    /* Estilos para el botón */
    #banner a {
        grid-column: 3;
        justify-self: end;
        width: 5vh; /* Ancho del botón */
        height: 5vh; /* Altura del botón */
        min-height: 35px;
        min-width: 35px;
        background-color: #007BFF; /* Color de fondo del botón */
        color: #fff; /* Color del texto del botón */
        text-align: center;
        line-height: 5vh; /* Alinea verticalmente el texto en el botón */
        font-size: 3vh; /* Tamaño de fuente del texto del botón */
        font-weight: bolder;
        text-decoration: none; /* Elimina el subrayado del enlace */
        border-radius: 5px; /* Agrega esquinas redondeadas al botón */
        cursor: pointer;
    }
    /* Cambiar el color del botón al pasar el cursor sobre él */
    #banner a:hover {
        background-color: #0056b3;
    }


/***********************/
/*        INDICES        */
/***********************/

/* Estilos para el cuadro de contenido */
#index-box {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-row-gap: 15px;
    background-color: #fff; /* Color de fondo del cuadro */
    padding: 20px; /* Espacio interno del cuadro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra del cuadro */  
    min-width: 300px;
    max-width: 70%;
    margin: 0 auto;    
}

    /* Estilos para el título principal */
    #index-box h1 {
        grid-row: 1;
        grid-column: 1 / span 3;
        font-size: 2vw; /* Tamaño de fuente para el título principal */
        color: #0C0D0E; /* Color del texto blanco */
    }

    /* Estilo para los enlaces dentro de .content-box */
    #index-box div {  
        width: 80%;
        line-height: 50px; /* Alinea verticalmente el texto en el botón */     
    }

    #index-box a {  
        font-size: 1vw; /* Tamaño de fuente del texto del botón */
        height: 100%;
        width: 100%;
        display: block;
        color: #FFF; /* Cambia el color del texto de los enlaces si es necesario */
        text-decoration: none; /* Cambia el estilo del subrayado si es necesario */
        background-color: #007BFF; /* Color de fondo del botón */
        text-align: center;
        cursor: pointer;
        border: none; /* Elimina el borde del botón */    
        border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    }

    #index-box a:not([href]){
        /* Estilo para enlaces sin atributo href */
        background-color: #D1D7DC; /* Cambia el color de fondo a rojo */
        /* Otros estilos personalizados si es necesario */
    }
    #index-box a:not([href]):hover{
        /* Estilo para enlaces sin atributo href */
        background-color: #A7ADB1; /* Cambia el color de fondo a rojo */
        /* Otros estilos personalizados si es necesario */
    }

    /* Estilo específico para los enlaces si es necesario */
    #index-box a:hover {
        background-color: #0056b3; /* Cambia el color al pasar el cursor sobre los enlaces si es necesario */
    }
    /* Estilo para el video */
    #index-box video {
        max-width: 100%; /* Asegura que el video no sea más ancho que el contenedor */
        height: auto; /* Altura automática para mantener la relación de aspecto */
        margin: 20px 0; /* Espacio en la parte superior e inferior del video (ajusta según tus preferencias) */
    }
    /* Centrar contenido dentro de #content-box */
    #index-box > * {
        margin: auto; /* Centrar horizontal y verticalmente todos los elementos hijos */
    }


/************************************/
/*        CAJAS DE CONTENIDO        */
/************************************/


/* Estilos para el cuadro de contenido */
#content-box {
    background-color: #fff; /* Color de fondo del cuadro */
    padding: 20px; /* Espacio interno del cuadro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra del cuadro */  
    min-width: 300px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%); /* Centrar el cuadro */  
}
    /* Estilos para el título principal */
    #content-box h1 {
        margin: 0 auto; /* Centrar horizontalmente */
        text-align: center; /* Centrar el texto */
        width: 70%; /* Ancho del contenedor al 70% del ancho de la página */
        font-size: 34px; /* Tamaño de fuente para el título principal */
        color: #0C0D0E; /* Color del texto blanco */
    }
    #content-box ul li {
        margin: 10px; /* Centrar horizontalmente */
        margin-left: -25px;
        list-style-type: none;
        padding: 10px;
        text-align: center;
    }
    /* Estilo para los enlaces dentro de .content-box */
    #content-box ul li a {
        padding: 10px;
        width: 50px; /* Ancho del botón */
        height: 50px; /* Altura del botón */
        background-color: #007BFF; /* Color de fondo del botón */
        color: #fff; /* Color del texto del botón */
        line-height: 50px; /* Alinea verticalmente el texto en el botón */
        font-size: 25px; /* Tamaño de fuente del texto del botón */
        border: none; /* Elimina el borde del botón */
        border-radius: 5px; /* Agrega esquinas redondeadas al botón */
        cursor: pointer;
        text-align: center;       
        background-color: #007BFF; /* Color de fondo del botón */
        color: #FFF; /* Cambia el color del texto de los enlaces si es necesario */
        text-decoration: none; /* Cambia el estilo del subrayado si es necesario */
    }
    /* Estilo específico para los enlaces si es necesario */
    #content-box ul li a:hover {
        background-color: #0056b3; /* Cambia el color al pasar el cursor sobre los enlaces si es necesario */
    }
    /* Estilo para el video */
    #content-box video {
        max-width: 100%; /* Asegura que el video no sea más ancho que el contenedor */
        height: auto; /* Altura automática para mantener la relación de aspecto */
        margin: 20px 0; /* Espacio en la parte superior e inferior del video (ajusta según tus preferencias) */
    }
    /* Centrar contenido dentro de #content-box */
    #content-box > * {
        margin: auto; /* Centrar horizontal y verticalmente todos los elementos hijos */
    }


/***********************************************/
/*        DESPLEGABLES Y CAJA DE CODIGO        */
/***********************************************/


/* Estilos para el contenedor centrado */
.centered-container {
    text-align: center; /* Alineación de texto en el centro */
    margin: 0 auto; /* Centrar horizontalmente */
    display: flex; /* Uso de flexbox para alinear elementos en fila */
    flex-direction: row; /* Alinea elementos en una fila horizontal */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center; /* Alinea verticalmente en el centro */
}

    /* Estilos para el contenedor centrado */
    .centered-container select {
        position: relative;
        margin: 0 auto;
    }

#unidadSelect {
    width: 10vw;
    height: 3vh;
    text-align: center; /* Centrar el texto */
}

#hojaSelect {
    width: 10vw;
    height: 3vh;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: center; /* Centrar el texto */
}

#archivoSelect {
    width: 10vw;
    height: 3vh;
    text-align: center; /* Centrar el texto */
}

#asignaturaSelect {
    width: 10vw;
    height: 3vh;
    margin-right: 10vw;
    text-align: center; /* Centrar el texto */
}

/* Estilos para el iframe */
#htmlFrame {
    border: none;
    display: none;
}

/* Estilos para el área de CodeMirror */
#javaCodeEditorContainer {
    min-height: 100% !important;
    overflow: auto;
    margin: 0 auto; /* Centrar horizontalmente */
}



/********************************/
/*       TABLA PELICULAS        */
/********************************/


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

th:hover {
    background-color: #ddd;
}

